@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter,sans-serif;

}


body{

background:#f1f5f9;

}



/* LAYOUT */


.admin-wrapper{

display:flex;

min-height:100vh;

}



/* SIDEBAR */


.sidebar{


width:260px;

background:#111827;

padding:25px;

color:white;

position:fixed;

height:100vh;

}



.brand{


font-size:25px;

font-weight:700;

margin-bottom:40px;

color:#818cf8;

}



.sidebar a{


display:flex;

align-items:center;

gap:15px;

padding:14px;

margin-bottom:10px;

color:#cbd5e1;

text-decoration:none;

border-radius:12px;


}



.sidebar a:hover,
.sidebar .active{


background:#4f46e5;

color:white;

}



/* CONTENT */


.main{


margin-left:260px;

width:100%;

}



/* TOPBAR */


.topbar{


height:80px;

background:white;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 35px;

box-shadow:0 5px 20px rgba(0,0,0,.05);

}



.search{


background:#f1f5f9;

padding:12px 20px;

border-radius:30px;

width:300px;

border:none;

}



.profile{


display:flex;

align-items:center;

gap:15px;

}



.avatar{


width:45px;

height:45px;

border-radius:50%;

background:#4f46e5;

color:white;

display:flex;

align-items:center;

justify-content:center;

font-weight:bold;

}



/* DASHBOARD */


.dashboard-content{


padding:35px;

}



.dashboard-content h1{


margin-bottom:10px;

}



/* CARDS */


.stat-card{


background:white;

padding:25px;

border-radius:20px;

display:flex;

justify-content:space-between;

align-items:center;

box-shadow:

0 10px 30px rgba(0,0,0,.05);


}



.stats{


display:grid;

grid-template-columns:

repeat(3,1fr);

gap:25px;

margin-top:30px;

}



.stat-icon{


width:55px;

height:55px;

border-radius:15px;

display:flex;

align-items:center;

justify-content:center;

font-size:25px;

background:#eef2ff;

color:#4f46e5;

}



.stat-card h2{


margin-top:15px;

font-size:28px;

}



/* CHART */


.chart-container{


background:white;

padding:30px;

border-radius:25px;

margin-top:35px;

box-shadow:

0 10px 30px rgba(0,0,0,.05);


}



@media(max-width:900px){


.sidebar{

width:80px;

}


.sidebar a span,
.brand span{

display:none;

}


.main{

margin-left:80px;

}



.stats{

grid-template-columns:1fr;

}


}